/*
 * @Author: gaofengjiao 
 * @Date: 2018-08-16 09:29:18 
 * @Last Modified by: gaofengjiao
 * @Last Modified time: 2018-08-21 14:18:03
 */
 @import './../../common/reset.css';
.container{
  background-color: #eee;
}
.infoContent{
  height: calc(100vh - 85px);
  background-color: #fff;
  overflow: auto;
}
/* home页面进入的送货单列表界面 */
.checkDeliveryBtn{
  color: #26a2fa;
  font-size: .12rem;
  height: .3rem;
  line-height: .3rem;
}
.messageDeliveryBtn{
  color: green;
  font-size: .12rem;
  height: .3rem;
  line-height: .3rem;
}
.listCardTitle{
  font-size: .18rem;
}
.listPrice{
  position: absolute;
  right: .1rem;
}

/* 送货单信息页面需要在一屏幕页面内 */
.infoFooter{
  height: 30px;
  margin-top: 10px;
  background-color: #fff;
  font-size:.12rem;
  line-height: 30px;
}

.infoLeftBtn,.infoRightBtn{
  text-align: center;
  display: block;
  width: 100%;
  font-weight: bolder
}
.infoRightBtn{
  background-color: #26a2fa;
  color: #fff;

}


.checkContent{
  height: calc(100vh - 160px);
  background-color: #fff;
  overflow: auto;
  padding: 0 .15rem;
}

.checkFooter{
  border-top: 1px solid #eee;
  height: 105px;
  background-color: #fff;
}
.checkTools{
  border-top: 1px solid #eee;
}


/* 无效的送货单 */
.nullIcon{
  height: .6rem;
  width: .6rem;
}

/* 验收完成 */
.checkMessage{
  margin: 0  .48rem;
  text-align: left;
  font-size: .14rem;
}
.checkBtns{
 padding-top: .2rem;
  background-color: #fff;
  text-align: center;
}
.supBtn{
  color: #666;
}
.messageBtn{
  color: #26a2fa;
}
.goBtn{
  color: green;
}
.messageBtn{
  margin-right: 8px;
  margin-left: 8px;
}
.supBtn,.goBtn,.messageBtn{
  font-size: .14rem;
  height: .35rem;
  line-height: .35rem;
}
/* 进度 */
.progressBox{
  padding-top: .2rem;
  background-color: #fff;
  padding-left: .4rem;
}
.iconProgress{
  width: .16rem;
  height: .16rem;
}

/* 评价 */
.star {
  font-size: 30px;
}

.star label {
  padding: 0 20px;
}

.margin10{
  margin: .1rem;
}


