
@import './../../common/reset.css';
.container{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  background-image: url("../../assets/image/login_bg.png");
  background-size: 100% 100%;
}

.input{
 font-size: .12rem;
 color: #26a2fa;
}
.fromBox{
  margin-top: 65vh;
  padding: 0 .1rem;
}
.btnLogin{
  margin-top: .15rem;
}
